// colors
$primary-color: rgba(0, 96, 247, 1);
$bg-global-color: rgba(12, 12, 12, 1);
$bg-color: rgba(22, 23, 28, 1);
$bg-color-pale: rgba(29, 30, 37, 1);
$font-color: rgba(255, 255, 255, 1);
$font-sub-color: rgba(117, 121, 129, 1);

//brs
$input-default-brs: 7px;
$input-small-brs: 5px;